.header {
    display: flex;
    height: 44px;
    padding-left: 350px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f5f5;
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 44px;
    border-left: 1px solid #ffffff;
}